.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  padding: 15px 0px;
}

.navbar-content {
  border: 1px solid #7afdf689;
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.18);
  border-radius: 50px;
  padding: 5px 12px;
  max-width: 100%;
  gap: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  margin-top: 20px;
  z-index: 1;
}

.navbar-link {
  padding: 2px;
  text-decoration: none;
  color: var(--color1);
  font-weight: 500;
  transition: 0.2s ease;
}

.contact-span {
  border-bottom: 1px solid #7afdf689;
}
.contact-span:hover {
  border-bottom: none;
}

.navbar-desktop-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(1px 1px 10px #12fff3);
  cursor: pointer;
}

.navbar-link:hover {
  color: var(--color5);
}

.navbar-desktop-icon:hover {
  filter: none;
}

@media screen and (max-width: 480px) {
  .navbar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.7rem;
    padding: 5px 10px;
    margin-top: 15px;
  }
  .navbar-container a {
    padding: 0;
  }
}
